{
    "presets": [
        ["env", {
            "target": {
                "browsers": [
                    "> 5%"
                ]
            },
            "useBuiltIns": true
        }]
    ]
}